*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.container{
    display: grid;
    background-color: whitesmoke;
    height: 1200px;
    width: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 200px);
    justify-content: center;
    align-content: center;
    
    
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18,.box19, .box19, .box20, .box21{
    background-color: green;
    box-sizing: border-box;
    border: 2px solid ;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.box1, .box11,.box3, .box4, .box16, .box8, .box10{
    background-color: cadetblue;

}

.box1, .box11{
    grid-row: span 3;

}

.box3{
    grid-row: span 5;
}

.box4, .box16{
    grid-column: span 2;
}

/*for button styling part*/

.button{ 
    height: 500px;
    width: auto;
    background-color: #322f31;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

a{ /*this is for styling the main box & the word inside of it*/
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight:300;
    position: relative;
    padding: 10px 30px;
    transition: 0.5s;
}

a:hover{  /*effect when hovering the cursor*/
    background: var(--clr);
    letter-spacing: 0.25em ;
    box-shadow: 0 0 35px var(--clr);
}

a::before{ /*to add a black box above the main box*/
    content: '';
    position: absolute;
    inset: 4px;
    background: #322f31;
}

a span{ /*to make the word appears at the front*/
    position: relative;
    z-index: 1;
}

a i::before{ /*to add small black line at the top of the box*/ 
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 15px;
    height: 4px;
    background: #322f31;
    transform: translateX(-50%) skewX(325deg);/*to make the line bend to the right*/
    transition: 0.5s;
}

a:hover i::before{
    width: 20px; /*to expand the line when moving to the left*/
    left: 20%; /*set the point for the line to move*/
}

a i::after{ /*to add small black line at the bottom of the box*/
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 15px;
    height: 4px;
    background: #322f31;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::after{
    width: 20px;
    left: 80%;
}

.logo{
    height: 100vh;
    width: 100%;
    background-color: sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;

}

.netflix{
    height: 150px;
    width: 30px;
    background-color: red;
}